@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

.user-img{
  width: 50px;
  border-radius: 100%;
  border: 1px solid #eee;
}
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 193.5vh;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.971);
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
  font-size: 1rem;
  
}
.sidebar i{
  font-size: 30px;
}
.sidebar.active ~ .main-content{
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active{
  width: 250px;
}
.sidebar #btn{
  position: absolute;
  color: #7e7d7d;
  top: 1.2rem;
  left: 50%;
  /* font-size: 1.9rem; */
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn{
  left: 90%;
}

.sidebar .top .logo{
  color: #7e7d7d;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}
.sidebar.sidebar.active .top .logo{
  opacity: 1;
}
.top .logo {
  font-size: 2rem;
  margin-right: 5px;

}
.logo img{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.user{
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.user p{
  color: #7e7d7d;
  opacity: 1;
  margin-left: 1rem;
}
.bold{
  font-weight: 600;
}
.sidebar p{
  opacity: 0;
}
.sidebar.active p{
  opacity: 1;
}
.sidebar ul li{
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}
.sidebar ul li a{
  color: #7e7d7d;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}
.sidebar ul li a:hover{
  background-color: rgba(70, 70, 70, 0.75);
}
.sidebar ul li a i{
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}
.sidebar .nav-item{
  opacity: 0;
}
.sidebar.active .nav-item{
  opacity: 1;
}
.sidebar ul li .tooltip{
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  box-sizing: .6rem;
  padding: .4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}
.sidebar ul li:hover .tooltip{
  opacity: 1;
}
.sidebar.active ul li .tooltip{
  display: none;
}
.main-content{
  position: relative;
  background-color: #151515;
  color: #7e7d7d;
  min-height: 160vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
  overflow-x: hidden;
}
.container{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.inicio{
  margin-top: 1rem;
  margin-left: 1.9rem;
}
.inicio h1{
  color: rgb(23, 125, 131);
}

/* estilizando divs de indicadores */
.usuariosTotais{
  background-color: rgb(0, 0, 0, 0.75);
  color: #eee;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mediaPontos{
  background-color: rgb(0, 0, 0, 0.75);;
  color: #eee;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tentativas{
  background-color: rgb(0, 0, 0, 0.75);
  color: #eee;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menorTempo{
  background-color: rgb(0, 0, 0, 0.75);;
  color: #eee;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* chart.js */
.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  width: calc(100% - 150px);
  padding: 20px;
  padding-top: 0;
  color: #7e7d7d;
  font-weight: 600;
  margin-top: 4rem;
  margin-left: 1.4rem;
}

.chart {
  /* background-color: #5e5e5e; */
  padding: 20px;
  border-radius: 10px;
  /* display: flex; */
  /* justify-content: space-between; */
  
}
.pie{
  width: 80%;
  height: 70vh;
}

/* footer */
.content-footer{
  padding: 4rem;
  cursor: pointer;
  background-color:  #151515;
  /* border-top: 1px solid #5e5e5e; */
  color: #eee;
  margin-top: -4rem;
}
.content-footer h1{
  margin-bottom: 2rem;
}
.content-footer .content-descricao-footer{
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: #5e5e5e;
}
.content-footer .content-descricao-footer p:hover{
  color: #5e5e5e;
}
.icons-footer{
  display: flex;
  justify-content: center;
  padding: 2rem;
  gap: .8rem;
  cursor: pointer;
}
.icons-footer li{
  list-style: none;
}
.icons-footer li a{
  color: #5e5e5e;
}
.icons-footer li i{
  font-size: 1.4rem;
  color: #5e5e5e;
}